.row-content button{
	background-color: #f58634;
	color: #FFF;
}

.orange-row{
	background-color: #f58634;
}

.navigation img{
	height: 46px;
	width: 65px;
}

.row-slide {
	height: 200px;
	background: #FFF;
	transition: height 350ms ease-in-out;
}

.slide-up-container {
	position: absolute;
}

.row-slide2 {
	height: 200px;
	background: #f58634;
}

.row-content{
	height: 400px;
}

.slide-up {
	position: relative;
	width: 100%;
}

.animation {
	height: 0;
	transition: height 350ms ease-in-out;
}